@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


 *{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
    /* seccion de header */

section{
    padding: auto;
    margin: auto;

}

.content-1 .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
    height: 80px;
}

.nav-container {
    display: flex;
    gap: 100px;
    align-items: center;
}

.list-nav {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.Web-Studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 3%;
    text-align: center;
    text-decoration: none;
    color: #2196F3;

    
}

.Estudio,
.Portafolio,
.Contactos {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 16%;
    text-align: left;
    color: #212121;
}

.Estudio:hover,
.Portafolio:hover,
.Contactos:hover {
    color: #2196F3 ;
    text-decoration: underline;

}

.mail1,
.telf {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 16%;
    text-align: left;
    color: #757575
}

.mail1:hover,
.telf:hover {
    color: #2196F3;
    text-decoration: underline;


}

header{
    border: 1px solid #ECECEC;
}

footer{
    border: 1px solid #ECECEC;
}

.contacts-nav{
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}

    /* seccion de main */


.content-2 .container {
    background-color: #2F303A;
    background-image: url(images/IMAGES-PAGE-1/Imagen\ \(10\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.content-2 h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.content-2 button {
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    width: 261px;
    height: 50px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 20px;
}

.content-2 .ul-1 {
    display: flex;
    flex-direction: column;
}

.content-3 .container .txt-11{
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 10px;
}

.content-3 .container .txt-1{
    width: 270px;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.txt-1 h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;

}

.txt-1 p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;;
}

.content-4 .container{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.container .TITULE-2H{
    font-size: 36px;
    font-style: bold;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding-top: 20px;
    clear: both;
}

.container ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.container .img-1{
    margin: 15px;
    width: 373px;
    height: 323px;
    margin-top: 80px;
}

.content-5 .container {
    text-align: center;
    margin-top: 80px;
    background-color:#F5F4FA
    ;

}

.content-5 .ourT-3 h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 20px;
    color: #212121;
}

.container .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.1px solid #ccc;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 0px 1px 3px;
    margin-top: 80px;
    padding-bottom: 50px;

}

.container .card .card-content {
    text-align: center;
    
}

.container .card h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    margin-top: 25px;
}

.container .card p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 15px;
}

.container .card img {
    margin-bottom: 5px;
}

.content-6 .container{
    background-color: #2F303A;

}

.Direccion address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 231px;
}

.content-4 .container .txt-container .txt h3{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.content-4 .container .txt-container .txt {
    background-color: rgba(47, 48, 58, 0.8);
    width: 373px;
    height: 70px;
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: center;

}

.content-4 .container .txt-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -98px;
    
}

.txt{
    display: flex;

}

.content-10 .container .texto{
    width: 100%;
    height: 162px;
    margin-top: 70px;
}

.content-10 .container .fondo-svg{
    width: 1200px;
    height: 162px;
    margin-top: -70px;
}

.content-10{
    width: 1200px;
    height: 400px;
}


.content-10 .container .texto .txt-C h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.content-10 .container .container-svg .fondo-svg{

    box-sizing: border-box;
    width: 170px;
    height: 81px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-left: 40px;
}

.svg-icon{

    align-items: center;
    justify-content: center;
    margin-left: 65px;
    margin-top: 17px;

}

.content-10 .container .container-svg .fondo-svg:hover{

    box-sizing: border-box;
    width: 170px;
    height: 81px;
    border: 1px solid #2196F3;
    border-radius: 4px;

}

.content-10 .container .container-svg{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;

}

.mail-container {

    display: flex;
    align-items: center;

}

.icon {
    width: 35px;
    height: 35px;
    stroke-width: 0;
    stroke: currentColor;
    align-self: flex-start;
    margin-bottom: -20px;
    fill: #757575;
}

.icon:hover,
.icon:focus{
    fill: #2196F3;
}

.telf-container {
    display: flex;
    align-items: center;

}

.telf {
    margin-left: -10px;
    margin-top: 4px;
}

.icon-2{

    stroke-width: 0;
    stroke: currentColor;
    fill: #212121;
    margin: 0 auto;
    align-self: center;
}


.svg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.svg-container:hover{

    border: 1px solid #2196F3;

}

.icn{
    stroke-width: 0;
    stroke: currentColor;
    fill: #AFB1B8;
    margin: auto;
    align-self: center;
}

.icn:hover{
    fill:#2196F3
}

.icono{
    display: flex;
    width: 25px;
    height: 25px;
    stroke-width: 0;
    stroke: currentColor;
    fill: #AFB1B8;
    align-self: center;

}

.icono-item{
    display: inline-block;
    width: 44px;
    height: 44px;
    stroke-width: 0;
    stroke: currentColor;
    fill: #AFB1B8;
    align-self: center;
    margin-top: 8px;

}

.icono-item:hover{
    fill: #FFFFFF;

}

.back-item{

    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin: 5px;
    margin-left: 5px;

}

.back-item:hover{
    background-color: #2196F3;

}

.svg-container-1 .back-item svg{
    margin-top: 10px;
    margin-left: -1px;
}