@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.Portafolio-2{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 16%;
    text-align: left;
    color: #2196F3;
}

.Estudio-2,
.Contactos-2{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 16%;
    text-align: left;
    color: #212121
}

.Estudio-2:hover, 
.Portafolio-2:hover, 
.Contactos-2:hover{
    color: #2196F3
}

.Estudio-2:focus, 
.Portafolio-2:focus, 
.Contactos-2:foc{
    color: #2196F3
}


.mail1-2, 
.telf-2{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 16%;
    text-align: left;
    color: #757575
}

.mail1-2:hover, 
.telf-2:hover{
    color: #2196F3;
}

.mail1-2:focus, 
.telf-2:focus{
    color: #2196F3;
}

.content-7 .container .boton button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.container .boton button:focus{
    background-color: #2196f3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.container .boton button:hover{
    background-color: #2196f3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.content-8 .contenedor .texto-imagen h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}

.content-8 .contenedor .texto-imagen h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
}

.content-8 .contenedor .texto-imagen p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: left;
    margin-left: 15px;
    margin-top: 18px;
}

.content-8 .contenedor .texto-imagen p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}

.contenedor {
    display: inline-block;
    margin: 15px;
    margin-bottom: 10px;
    vertical-align: top;
    max-width: 100%;
    width: 372.5px;
    height: auto;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.contenedor-all-main{
    width: 1217px;
    height: 1360px;
}


.content-9{

    background-color: #2F303A;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    border-top: 1px solid #757575;

}

.content-9 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -1050px;
}

.content-9 .container .Web-Studio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 80px;
}

.content-9 ul li{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.direccion-2 p,
.email a,
.telf-2 a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 200px;
}

.direccion-2 p:hover,
.email a:hover,
.telf-2 a:hover {
    color: #2196F3;
}

.direccion-2 p:focus,
.email a:focus,
.telf-2 a:focus {
    color: #2196F3;
}

.content-9 .ubi h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    float: right;
    margin-right: 480px;
    margin-top: -175px;
}

.content-9 .ubi {
    display: flex;
    align-items: center;
}
